@page
@model ManegmentSystems.Pages.CHECK.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Check</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Check.Id" />
            <div class="form-group">
                <label asp-for="Check.Amount" class="control-label"></label>
                <input asp-for="Check.Amount" class="form-control" />
                <span asp-validation-for="Check.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Check.DueDate" class="control-label"></label>
                <input asp-for="Check.DueDate" class="form-control" />
                <span asp-validation-for="Check.DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Check.Photo" class="control-label"></label>
                <input asp-for="Check.Photo" class="form-control" />
                <span asp-validation-for="Check.Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Check.Name" class="control-label"></label>
                <input asp-for="Check.Name" class="form-control" />
                <span asp-validation-for="Check.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Check.IncomeId" class="control-label"></label>
                <select asp-for="Check.IncomeId" class="form-control" asp-items="ViewBag.IncomeId"></select>
                <span asp-validation-for="Check.IncomeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Check.OutcomeId" class="control-label"></label>
                <select asp-for="Check.OutcomeId" class="form-control" asp-items="ViewBag.OutcomeId"></select>
                <span asp-validation-for="Check.OutcomeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts{ }