@page
@model ManegmentSystems.Pages.mantainModel
@{
    ViewData["Title"] = "mantain";

}

<div class="card">
    <div class="card-body">
        <div class="row">
          
            <div class="card">
                <div class="card-group">
                    <div class="button-box m-t-20">
                        <button type="button" class="btn btn-info btn-rounded" data-toggle="modal" data-target="#add-contact">اضافة مصروفات جديدة </button>
                        </div>
                    </div>
                    <div class="card-body ">
                        <table class="table table-striped table-bordered" id="editable-datatable">
                            <thead>
                                <tr>
                                    <th> القيمة</th>
                                    <th> تاريخ الاضافة</th>
                                    <th> الوصف</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var x in Model.output)
                                {
                                    <tr id="@x.RecordId" class="gradeC">
                                        <td class="uneditable">@x.Amount</td>
                                        <td class="uneditable">@x.Date</td>
                                        <td class="uneditable text">@x.Description</td>


                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th> القيمة</th>
                                    <th> تاريخ الاضافة</th>
                                    <th> الوصف</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
        </div>
    </div>
</div>
<div id="add-contact" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="fa fa-times"></button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="application/x-www-form-urlencoded">
                    <div class="form-group">
                        <div class="col-md-12 m-b-20">
                            <input type="text" asp-for="input.Amount" class="form-control" placeholder="القيمة">
                        </div>
                        <div class="col-md-12 m-b-20">
                            <input type="text" asp-for="input.Description" class="form-control" placeholder="الوصف">
                        </div>
                      
                    </div>

                    <button type="submit"  class="btn btn-success waves-effect">تأكيد</button>

                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success waves-effect" data-dismiss="modal">OK</button>
                    <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancel</button>
                </div>

            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section Scripts{
    <script src="../assets/node_modules/jquery-datatables-editable/jquery.dataTables.js"></script>
    <script src="../assets/node_modules/datatables/dataTables.bootstrap.js"></script>
    <script src="../assets/node_modules/tiny-editable/mindmup-editabletable.js"></script>
    <script src="../assets/node_modules/tiny-editable/numeric-input-example.js"></script>
    <script>
        $('#editable-datatable').editableTableWidget().numericInputExample().find('td:first').focus();
        $(document).ready(function () {
            $('#editable-datatable').DataTable();
        });
        $('#editable-datatable td.uneditable').on('change', function (evt, newValue) {
            return false;
        });
        $('#editable-datatable2').editableTableWidget().numericInputExample().find('td:first').focus();
        $(document).ready(function () {
            $('#editable-datatable2').DataTable();
        });
        $('#editable-datatable2 td.uneditable').on('change', function (evt, newValue) {
            return false;
        });
        $('#editable-datatable2 td.arrested  ').on('change', function (evt, newValue) {
            var item = $(this).find('input');

            if (item.is(':checked')) {
                var id = item.attr('value');

                /*PUT*/
                $.ajax({
                    url: '/api/Values/edit/' + id,
                    dataType: "json",
                    type: "PUT",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({ id: id, arrested: true }),
                    async: true,
                    processData: false,
                    cache: false,
                    success: function (data) {
                        $.toast({
                            heading: 'تم تعديل القيمة ',
                            text: 'لقد تم تعديل الدفعة الى  مقبوض بناءا على اختيارك',
                            position: 'top-right',
                            loaderBg: '#ff6849',
                            icon: 'success',
                            hideAfter: 3500,
                            stack: 6
                        });
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });


            } else {


                var id = item.attr('value');

                /*PUT*/
                $.ajax({
                    url: '/api/Values/edit/' + id,
                    dataType: "json",
                    type: "PUT",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({ id: id, arrested: false }),
                    async: true,
                    processData: false,
                    cache: false,
                    success: function (data) {
                        $.toast({
                            heading: 'تم تعديل القيمة ',
                            text: 'لقد تم تعديل الدفعة الى غير مقبوض بناءا على اختيارك',
                            position: 'top-right',
                            loaderBg: '#ff6849',
                            icon: 'warning',
                            hideAfter: 3500,
                            stack: 6
                        });
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });

            }







        });

    </script>
    <script src="~/dist/js/pages/toastr.js"></script>
}